
:host {
  display: block; // set to block to allow it to accept width and max-width properties
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.scroll-track {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .scroll-line {
    height: 2px;
    width: 100%;
    background: #D9D9D9;
    position: relative;
    border-radius: 2px;

    .scroll-thumb {
      height: 50px;
      width: 50px;
      background: transparent;
      position: absolute;
      top: 50%;
      border: 1px solid #888787;
      transform: translateY(-50%);
      border-radius: 50%;
    }

  }
}

