<form [formGroup]="formSteps"  class="flex flex-col items-center justify-center h-full">

  <!-- Object's price -->
  <div *ngIf="currentStepIndex === 0" class="flex flex-col items-center justify-center h-full w-full">
    <h1 class="font-bold">Description. Here it is possible to tell a story</h1>
    <h1 class="font-bold">about the object or tell about additional aspects.</h1>
    <mat-form-field class="w-3/4  max-w-md mt-16">
      <textarea style="height: 174px; max-height: 220px; min-height: 144px" class="border border-black"
                placeholder="max 500 characters"
                matInput
                formControlName="descriptionCtrl" maxlength="500"></textarea>
    </mat-form-field>
  </div>


  <!--  Buttons -->
  <div class="mt-auto flex w-full">
    <button class="mr-auto" (click)="previous()">Back</button>
    <button type="button" class="ml-auto next-button" (click)="next()"  [disabled]="formSteps.get(steps[currentStepIndex])?.invalid">
      Next
    </button>
  </div>

</form>
