.image-upload {
  background-image: linear-gradient(45deg, #D9D9D9 25%, transparent 25%), linear-gradient(-45deg, #D9D9D9 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #D9D9D9 75%), linear-gradient(-45deg, transparent 75%, #D9D9D9 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  height: 120px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploaded-image {
  border: 1px solid black;
  height: 184px;
  width: 184px;
  padding: 24px;
  border-radius: 20px;
}

