.image-upload {
  background-image: linear-gradient(45deg, #D9D9D9 25%, transparent 25%), linear-gradient(-45deg, #D9D9D9 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #D9D9D9 75%), linear-gradient(-45deg, transparent 75%, #D9D9D9 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  height: 240px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploaded-image {
  height: 240px;
  width: 240px;
  object-fit: cover;
}

.delete-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: none;
}

.image-container:hover .delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
