.user-collection {

  .grid-wrapper {
    display: grid;
    gap: 0;
    justify-content: center;
    align-content: start;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(300px, auto);

    @media (min-width: 600px) { /* sm: */
      grid-template-columns: repeat(2, 300px);
    }

    @media (min-width: 900px) { /* lg: */
      grid-template-columns: repeat(3, 300px);
    }

    @media (min-width: 1200px) { /* xl: */
      grid-template-columns: repeat(4, 300px);
    }
  }

  .box {
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    @apply cursor-pointer;

    mat-icon {
      height: 36px;
      width: 36px;
      font-size: 36px;
    }

    .object-img {
      max-height: 200px;
      max-width: 200px;
      min-height: 200px;
      min-width: 200px;
      object-fit: cover;
      margin: auto;
    }
  }
}
